/* Estilos comunes para contenedores y columnas */
.contenedor, .column {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto 20px; /* Unificado el margen */
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: min(1.1vw, 20px);
  font-weight: bold;
  background-color: white; /* Se opta por el color de fondo más común */
  border-radius: 20px; /* Uniforme para todos */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  width: 90%; /* Asegúrate de ajustar el ancho según sea necesario */
  text-align: center; /* Centra el texto dentro del contenedor */
}

/* Estilos adicionales para .column */
.column {
  flex-direction: column;
  margin: 0 10px 20px; /* Espacio entre columnas, margen inferior unificado */
  background-color: #ecd4b6; /* Fondo blanco como en estado.css */
}

/* Estilos específicos para span dentro de .column */
.column span {
  font-size: min(2vw, 20px); /* Tamaño de fuente responsive */
}

/* Estilos para botones y botones dentro de .column */
.button, button {
  color: #292929;
  background-color: #be7530;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  border: none; /* Asegura que no haya bordes */
}

/* Efecto hover para botones */
.button:hover, button:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

/* Estilos para la cabecera, filas y celdas */
.header {
  display: flex;
  font-weight: bold;
  padding-bottom: 10px;
}

.header-item, .cell {
  flex: 1;
  padding: 10px;
}

/* Estilo del input dentro de las celdas */
.cell input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Estilo para filas */
.row {
  display: flex;
  padding: 10px 0;
}

input {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid #8b4513;
  background: white;
  outline: none;
  height: 40px;
  color: #8b4513;
  margin-top: 10px;
}