.container-conteo {
  margin: 20px auto; /* Margen superior e inferior de 20px y centrado horizontal */
  width: 90vw; /* Anchura del contenedor al 100% de la pantalla */
  background-color: #fefaf6; /* Color marrón con transparencia */
  border-radius: 30px; /* Bordes redondos de 10px */
  padding: 10px; /* Espaciado interno del contenedor */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.titulo-evento {
  text-align: center;
}


.contenedor-label1 {
  display: flex;
  align-items: center;
  margin: 5px;
  font-family: "Nunito", sans-serif; /* Fuente Nunito */
  font-size: min(1.5vw, 24px);
  font-weight: bold;  
  padding: 10px;
  background-color: #ecd4b6; /* Color azul acero */
  border-radius: 30px; /* Bordes redondos de 30px */
  color: #292929; /* Color del texto blanco */
}

.elemento-label,
.elemento-valor {
  font-family: "Nunito", sans-serif; /* Fuente Nunito */
  font-size: min(1.5vw, 24px);
  font-weight: bold;
  color: #292929; /* Color del texto */
  margin-right: 10px;
}
.bottom-estado {
  font-family: "Nunito", sans-serif;
  font-size: min(1.1vw, 24px);
  font-weight: bold;
  color: #292929;
  border: none; /* Quita el borde */
  background-color: #be7530; /* Color de fondo */
  padding: 8px 16px; /* Espaciado interno */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Sombra */
  transition: box-shadow 0.3s ease; /* Transición suave */
}

/* Efecto hover */
.bottom-estado:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* Cambia la sombra al pasar el cursor */
}

.subtitle {
  font-family: "Nunito", sans-serif; /* Fuente Nunito */
  font-size: min(3.5vw, 40px);
  font-weight: bold;
  color: #292929; /* Color del texto */
  margin-right: 10px;
  font-weight: 900;
  display: inline-block; /* Alinear el texto en línea */
  margin: 0 auto; /* Centrar texto horizontalmente */
}

.container-titulo{
  margin: 2px auto; /* Margen superior e inferior de 20px y centrado horizontal */
  width: 90vw; /* Anchura del contenedor */
  height: 40px;
  font-family: "Nunito", sans-serif; /* Fuente Nunito */
  background-color: #ffffff;
  font-size: min(1.5vw, 24px);
  font-weight: bold;  
  border-radius: 20px; /* Bordes redondos de 10px */

  text-align: center; /* Centrar texto horizontalmente */
}

.elemento-valor {
  border-radius: 10px;
  background-color: #be7530;
  font-weight: 800;
  color: #292929; /* Color del texto */
  padding: 8px;
}

.container-estado {
  margin: 20px auto; /* Margen superior e inferior de 20px y centrado horizontal */
  width: 90vw; /* Anchura del contenedor */
  background-color: #FEFAF6; /* Color marrón con transparencia */
  border-radius: 10px; /* Bordes redondos de 10px */
  padding: 10px; /* Espaciado interno del contenedor */
  text-align: center; /* Centrar texto horizontalmente */
}

table {
  width: 80vw; /* Ancho completo de la tabla */
  height: 80%;
  border-collapse: separate; /* Separar los bordes de las celdas */
  border-spacing: 2px; /* Espacio de 2px entre las columnas */
  border-radius: 10px; /* Bordes redondos para toda la tabla */
  overflow: hidden; /* Ocultar el contenido que se desborda de la tabla */
}

thead {
  background-color: #be7530; /* Color de fondo del encabezado */
  color: #fff; /* Color del texto blanco */
}

td.estado, th.estado {
  border: 1px;
  padding: 8px; /* Espaciado interno de celdas */
  font-family: "Nunito", sans-serif; /* Fuente Nunito */
  text-align: center;
}

th.estado {
  font-weight: bold; /* Fuente en negrita para los encabezados */
}
