body {
  margin: 10vh 10vw; /* Margen del 10% tanto en vertical como en horizontal */
  padding: 0; /* Elimina el relleno predeterminado */
}

@font-face {
  font-family: "ChauPhilomeneOne-Regular";
  src: url("../Media/ChauPhilomeneOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header-container {
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 10px; /* Espaciado interior */
  margin: 10px; /* Margen inferior */
  display: flex; /* Utiliza flexbox para alinear elementos */
  justify-content: space-between; /* Alinea los elementos en los extremos */
  align-items: center; /* Centra verticalmente los elementos */
}

.logo {
    height: 80px;
    width: auto;
    margin-right: 20px;
  }

.back-button {
  position: absolute; /* Posición absoluta respecto a su contenedor relativo */
  left: 75px;
  padding: 10px 20px; /* Espaciado interno para hacer el botón más grande */
  background: #f76b1c; /* Color de fondo sólido, ajusta esto para que coincida con el degradado exacto si es necesario */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25); /* Sombra suave para el efecto 3D */
  text-transform: uppercase; /* Texto en mayúsculas */
  font-weight: bold; /* Texto en negrita */
  cursor: pointer; /* Cursor en forma de mano */
  transition: background-color 0.3s; /* Suave transición para el hover */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ChauPhilomeneOne", sans-serif;
  padding: 10px 0;
}
.header h1 {
  text-align: center;
}


.login-box {
  width: 100%; /* Ancho del 100% para que se ajuste al ancho de la pantalla */
  max-width: 500px; /* Ancho máximo */
  padding: 40px; /* Relleno */
  background: #f3f303; /* Fondo blanco hueso */
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombras */
  margin: 20px auto; /* Margen superior e inferior de 20px y centrado horizontal */
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0; /* Elimina el relleno en dispositivos móviles */
    margin: 20px;
  }

  .login-box {
    margin: 20px; /* Añade un margen en dispositivos móviles para separar del borde */
  }
}

.login-box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 20px; /* Margen inferior de 20px y centrado horizontal */
  display: block;
}

.login-box h3 {
  font-family: "ChauPhilomeneOne-Regular"; /* Utiliza la fuente regular */
  margin: 10px 0 20px; /* Margen superior de 10px, inferior de 20px */
  padding-bottom: 20px; /* Relleno inferior */
  position: relative;
  color: #8b4513; /* Letras marrones */
}

.login-box h4 {
  font-family: 'Nunito', sans-serif; /* Utiliza la fuente Nunito */
}

.login-box form {
  position: relative;
}

.login-box form input {
  width: calc(
    100% - 40px
  ); /* Ancho del 100% menos 40px de relleno para tener en cuenta el padding */
  margin: 0 auto 20px; /* Margen inferior de 20px y centrado horizontal */
  border: none;
  border-bottom: 1px solid #8b4513; /* Color de la línea del input */
  background: #ffdab9; /* Fondo naranja pastel */
  outline: none;
  height: 40px;
  color: #8b4513; /* Letras marrones */
}

.login-box form button {
  width: calc(
    100% - 40px
  ); /* Ancho del 100% menos 40px de relleno para tener en cuenta el padding */
  background: #ff4500; /* Fondo naranja más fuerte */
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #ffffff; /* Letras blancas */
}

.login-box button {
  font-family: 'Nunito', sans-serif; /* Utiliza la fuente Nunito */
  width: calc(
    100% - 40px
  ); /* Ancho del 100% menos 40px de relleno para tener en cuenta el padding */
  background: #ff4500; /* Fondo naranja más fuerte */
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #ffffff; /* Letras blancas */
  margin-bottom: 10px; /* Margen inferior de 20px */
}
