/* Estilo del contenedor de inventario */
.container-ingreso {
  margin: 20px auto;
  width: 90%;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
  /* Añadir scroll si es necesario */
  font-family: 'Nunito', sans-serif;
}

.container-estacion {
  display: flex;
  align-items: center;
  margin: 5px;
  font-family: "Nunito", sans-serif;
  /* Fuente Nunito */
  font-size: min(1.5vw, 24px);
  font-weight: bold;
  padding: 10px;
  background-color: #ecd4b6;
  /* Color azul acero */
  border-radius: 30px;
  /* Bordes redondos de 30px */
  color: #fff;
  /* Color del texto blanco */
}

/* Estilo de la cabecera */
.header {
  display: flex;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

/* Estilo de los items de la cabecera */
.header-item {
  flex: 1;
  padding: 10px;
}

/* Estilo de las filas */
.row {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

/* Estilo de las celdas */
.cell {
  flex: 1;
  padding: 10px;
}

/* Estilo del input */
.cell input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}