.transparent-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    resize: none;
    font-size: 16px;
    color: transparent; /* Texto transparente */
    outline: none; /* Quita el borde de enfoque */
    width: 100%;
  }
  
  .transparent-textarea::placeholder {
    color: #333; /* Color del placeholder */
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .ep-value-display {
    font-size: 18px;
    margin-top: 20px;
  }
  