/* Solicitud.css */

.container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Ajustamos el espacio entre columnas */
  gap: 20px;
  padding: 20px;
  overflow: auto;
}

.kit-container {
  background-color: #a1602a;
  /* Color de fondo */
  padding: 15px;
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  width: calc(30% - 20px);
  /* Ancho del 30% con espacio entre recuadros */
  margin-bottom: 20px;
  /* Espacio entre recuadros */
}

.kit-container h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.kit-container p {
  margin-bottom: 5px;
}

.kit-container-white {
  background-color: white;
}

@media (max-width: 1024px) {
  .kit-container {
    width: calc(33.33% - 20px);
    /* Ancho del 33.33% en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .kit-container {
    width: calc(50% - 20px);
    /* Ancho del 50% en pantallas más pequeñas */
  }
}

