.container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.Kit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 30%;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 20px;
  background-color: #f4a454;
  flex-direction: row;
}

.icono {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.info-product {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  gap: 5px;
}

.info-text {
  text-align: left;
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Nunito", sans-serif; /* Fuente Nunito */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid black;
  width: 35px;
  height: 35px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #eaeaea;
}

.button:hover {
  background-color: #f8f8f8;
}

.button-panel {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.action-button {
  background-color: #f8f8f8;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #e2e2e2;
}

.action-button:active {
  background-color: #d1d1d1;
}

.back-button:hover {
  background-color: #e9651d; /* Oscurecer el botón un poco cuando se pasa el ratón por encima */
}
